body {
    margin: 0;
    padding: 0;
    background-color: #f5efe6

}


.header {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #006736;
    text-align: center;
    font-size: 202px;
    font-family: "Onyxia", sans-serif;
    font-weight: lighter;
    letter-spacing: .2rem;
  
}

.container,
.myUL {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-family: "Helvetica";
     
}

a {
    font-size: 1.2rem;
    text-transform: uppercase;
       
}

a:link {
    color: #006736;
    background-color: transparent;
    text-decoration: none;  
    
}

a:visited {
    color:#006736;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    display: inline-block;
    color: #646362;
    text-decoration: none;
    transform: skewX(-10deg)
}

a:active {
    color: #006736;
    background-color: transparent;
    text-decoration: none;
}

